<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<!-- <body>
{{avg_run_test,avg_run_odi,avg_run_t20,avg_sr_test,avg_sr_odi,avg_sr_t20,lst3_test,lst3_odi,lst3_t20}}
<h3>Test Performance</h3>
<img src="data:image/png;base64,{{ test_performance_chart }}">

<h3>ODI Performance</h3>
<img src="data:image/png;base64,{{ odi_performance_chart }}">

<h3>T20 Performance</h3>
<img src="data:image/png;base64,{{ t20_performance_chart }}">
</body> -->
<body>

    <header class="header">
      <div class="logo">SportIQ</div>
      <div class="header-icons">
        <button class="icon-btn"></button>
        <button class="icon-btn"></button>
      </div>
    </header>
  
    <main class="profile-container">
      <button class="back-btn">Back</button>
  
      <section class="profile-header">
        <div class="profile-info">
          <img src="https://imgs.search.brave.com/pzcst_uUEp9HQWiwFwk6f2AdTSP9ENPLcNRmQ8ylV9A/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzM3L2Vl/L2VmLzM3ZWVlZmU0/ZGQyMzVhYjcyNTA2/MTY4NTNhN2E3MzAw/LmpwZw" alt="Player Photo" class="profile-img">
          <div>
            <h1>Virat Kohli</h1>
            <p>Age: 36, Sex: Male</p>
          </div>
        </div>
        <div class="profile-actions">
          <button class="report-btn">View player report</button>
          <button class="edit-btn">Edit player</button>
        </div>
      </section>
  
      <section class="performance-history">
        <h2>Performance history</h2>
        <div class="tabs">
          <button class="tab active">Match</button>
          <button class="tab">Training</button>
          <button class="tab">Combine</button>
        </div>
  
        <table class="match-table">
          <thead>
            <tr>
              <th>Year</th>
              <th>Test Score</th>
              <th>Odi Score</th>
              <th>t20 Score</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2022</td>
              <td>{{lst3_test[2]}}</td>
              <td>{{lst3_odi[2]}}</td>
              <td>{{lst3_t20[2]}}</td>
            </tr>
            <tr>
              <td>2021</td>
              <td>{{lst3_test[1]}}</td>
              <td>{{lst3_odi[1]}}</td>
              <td>{{lst3_odi[1]}}</td>
            </tr>
            <tr>
              <td>2020</td>
              <td>{{lst3_test[0]}}</td>
              <td>{{lst3_odi[0]}}</td>
              <td>{{lst3_t20[0]}}</td>
            </tr>
          </tbody>
        </table>
      </section>
  
      <section class="match-performance">
        <h2>Match performance</h2>
        <!-- <div class="points-chart">
          <div class="bar" style="height: 70%;">Q1</div>
          <div class="bar" style="height: 50%;">Q2</div>
          <div class="bar" style="height: 10%;">Q3</div>
          <div class="bar" style="height: 70%;">Q4</div>
        </div> -->
        <div class="pie-chart-match-performance">
          <div><img src="data:image/png;base64,{{ pie_test_chart }}"></div>
          <ul>
            {% for key,value in value_count_test.items() %}
            <li>Matches played {{value}} with {{ key[2:].capitalize() }} </li> <br>
            {% endfor %}
          </ul>
          <div><img src="data:image/png;base64,{{ pie_odi_chart }}"></div>
          <ul>
            {% for key,value in value_count_odi.items() %}
            <li>Matches played {{value}} with {{ key[2:].capitalize() }}</li><br>
            {% endfor %}
          </ul>
          <div><img src="data:image/png;base64,{{ pie_t20_chart }}"></div>
          <ul>
            {% for key,value in value_count_t20.items() %}
            <li>Matches played {{value}} with {{ key[2:].capitalize() }}</li><br>
            {% endfor %}
          </ul>
        </div>
        <div class="team-chart-match-performance">
          <div><img src="data:image/png;base64,{{ test_performance_chart }}"></div>
          <div><img src="data:image/png;base64,{{ odi_performance_chart }}"></div>
          <div><img src="data:image/png;base64,{{ t20_performance_chart }}"></div>
        </div>
      </section>
  
      <section class="player-performance">
        <h2>Player performance</h2>
        <ul class="performance-list">
          <li>Average Strike Rate Test - {{avg_sr_test}}</li>
          <li>Average Strike Rate ODI - {{avg_sr_odi}}</li>
          <li>Average Strike Rate T20 - {{avg_sr_t20}}</li>
          <li>Average Runs Test - {{avg_run_test}}</li>
          <li>Average Runs ODI - {{avg_run_odi}}</li>
          <li>Average Runs T20 - {{avg_run_t20}}</li>
        </ul>
      </section>
  
      <section class="team-performance">
        <h2>Get Teamwise analysis</h2>
        <form action="/" method="POST">
        <input type="text" placeholder="Enter Team Name" name="opposition-input" class="team-input">
        <button type="submit" class="bn632-hover bn26">Get Teamwise Performance</button>
        </form>
        <div class="team-chart-match-performance">
            <div><img src="data:image/png;base64,{{ chart_test_teamwise }}"></div>
            <div><img src="data:image/png;base64,{{ chart_odi_teamwise }}"></div>
            <div><img src="data:image/png;base64,{{ chart_t20_teamwise}}"></div>
          </div>
      </section>
      <section class="live-performance">
        <h2>Get Run Prediction for live match</h2>
        <form action="/" method="POST">
        <input type="text" placeholder="Match Fromat" name="format-input" class="team-input">
        <input type="text" placeholder="Balls Faced" name="BF-input" class="team-input">
        <input type="text" placeholder="Current Strike Rate" name="SR-input" class="team-input">
        <input type="text" placeholder="1 OR 2" name="Inngs-input" class="team-input">
        <button type="submit" class="bn632-hover bn26">Predict</button>
      </form>
        <div class="live-match-performance">
            <div class="predicted-output">
              <div style="margin:10px">
                <h1 style="font-size:45px">Predicted Runs</h1>
                <br>
                <p>{{predicted_runs}}</p>
              </div>
            </div>
          </div>
      </section>
      <section>
        <div class="prediction-assesment">
          <h2>Prediction Assesment</h2>
          <span>
            <h3>MAE of Model</h3>
            <p>{{mae}}</p>
          </span><span>
            <h3>MSE of Model</h3>
            <p>{{mse}}</p>
          </span><span>
            <h3>R2 Score of Model</h3>
            <p>{{r2}}</p>
          </span>
          </div>
        </div>
      </section>
    </main>
  
  </body>
</html>