<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{avg_run_test,avg_run_odi,avg_run_t20,avg_sr_test,avg_sr_odi,avg_sr_t20,lst3_test,lst3_odi,lst3_t20}}
<h3>Test Performance</h3>
<img src="data:image/png;base64,{{ test_performance_chart }}">

<h3>ODI Performance</h3>
<img src="data:image/png;base64,{{ odi_performance_chart }}">

<h3>T20 Performance</h3>
<img src="data:image/png;base64,{{ t20_performance_chart }}">
</body>
</html>